*{
  box-sizing: border-box;
}

body{
  font-family: sans-serif;  /*Cambia el estilo de letra */
  color: #3333333;
  background-color: #eeeeee;
}
.header{
  background-color: #43A230;
}

.header-wrapper{
 max-width: 1200px;
 margin-left: auto;
 margin-right: auto;
 padding-top: 5px;
 padding-bottom: 5px;
 overflow: hidden; /*cambia el comportamiendo del padre con los elemntos que salen de su ancho y alto
 en este caso los float del menu*/

}

.header-logo{
  float: left;
  height: 60px;
}
.header-menu{
  float: right;
}

.header-menu-wrapper{
  margin: 0;

  padding: 0;
  list-style: none;   /*Quita los estilos de la lista del menu*/
  font-size: 0;
}
.header-menu-item{
  display:inline-block;

  font-size: 18px;
}
.header-menu-link{
  height: 60px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: uppercase;
  line-height: 60px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
}
.header-menu-link:hover{/*psudoclase hover cuando se pise el elemento quiero que se comporte así:*/
  background-color: rgb(0, 0, 0,0.2); /*Uso el metodo de color rgb por que no se busca que cambie el color sino que baje o aumente su luz*/

}
.cover{
  background-image: url('../img/portada.png');
  background-position: center;
  background-size: cover;
}
.cover-wrapper{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  text-align: center;
}
.cover-photo-container{
  margin-bottom: 40px;
}
.cover-photo{
  border-radius: 50%;
}
.cover-text{
  background-color: rgba(20,200,100,0.7);
  color: #ffffff;
  display: inline-block;
  padding: 30px;

}

.cover-title{
  font-size: 40px;
  margin: 10px;
  text-transform: uppercase; /*PONE EN MAYUSCULA EL TEXTO*/

}
.cover-sub-title{
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 0;
}
